body{
    font-family:Arial;
    text-align:center;
    background:#f4f4f4;
}

input{
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
}

table{
    margin:auto;
    margin-top:20px;
    border-collapse:collapse;
}

th,td{
    padding:10px;
}